$color-background: #ffffff;
$color1: #1b4a64;
$color2:#89cbcb;
$color3: #657c7c;
$color4: #34648c;
$color1-textos: #003755;
$color2-textos:#00bbbb;
$typography: 'PT Serif', serif;
$typography2: 'PT Sans', sans-serif;
$servicios-title: #04adad;
$servicios-paragraph: #360800;
